@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbi.otf");
  font-weight: bold;
  font-style: italic;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #11110f;
}

#canvas {
  width: 100%;
  height: 100%;
}

#gerry {
  /* font-family: "Computer Modern", sans-serif; */
  color: rgb(255, 204, 0);
  font-style: italic;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#gerry .title {
  animation: fade 4s;
  text-align: center;
  font-size: 144px;
  line-height: 120px;
  margin-bottom: 40px;
  padding: 0 48px;
}

.text {
  font-size: 48px;
  animation: fade 4s;
  text-align: center;
  padding: 0 48px;
  line-height: 64px;
}

.topbar {
  width: 700px;
  max-width: 90%;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: fade 4s;
  margin-top: 32px;
}

.topbar.G {
  background-image: url("/img/TopBarG.png");
}

.topbar.stop {
  background-image: url("/img/TopBarStop.png");
}

.text .em {
  font-size: 140%;
  line-height: 48px;
  color: #fff;
}

.text .stop {
  width: 52px;
  height: 52px;
  background-image: url("/img/Stop.svg");
  background-size: cover;
  display: inline-block;
  margin: -5px 12px;
}

#canvas {
  animation: fadeIn 0.5s;
}

.fade {
  animation: fade 4s;
}

#gerry .download {
  margin-top: 40px;
}

a.download {
  border: 1px solid #fff;
  padding: 16px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  font-style: normal;
  display: flex;
}

a.download svg {
  width: 28px;
  height: 28px;
  fill: #fff;
}

a.download div {
  height: 30px;
  font-size: 34px;
  line-height: 30px;
  margin-left: 12px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  font-size: 36px;
}

nav.fixed {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}

nav .left {
  display: flex;
}

nav .title {
  margin-right: 14px;
  padding-left: 40px;
  font-weight: bold;
}

nav .nav-download {
  padding-right: 40px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 24px;
}

main {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  color: #ddd;
  font-size: 20px;
  line-height: 28px;
  padding: 12px;
  box-sizing: border-box;
}

h1 {
  color: rgb(255, 204, 0);
  font-size: 36px;
  margin-bottom: 0.5em;
}

h2 {
  color: rgb(255, 204, 0);
  font-size: 32px;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

p,
ul {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

pre {
  display: inline;
}

.columns {
  display: flex;
  margin-bottom: -20px;
}

.columns .left {
  padding-right: 10px;
  flex-basis: 50%;
}

.columns .right {
  padding-left: 10px;
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
}

.screenshot {
  width: 100%;
  margin-top: 4px;
}

main a {
  color: rgb(255, 204, 0);
  text-decoration: none;
}

main .download {
  width: 300px;
  margin-bottom: 40px;
}

.no-top-margin {
  margin-top: 0;
}

@media screen and (max-width: 700px) {
  nav .title {
    padding-left: 18px;
    margin-right: 0;
  }

  nav .nav-download {
    padding-right: 18px;
  }

  nav a {
    padding: 24px 16px;
  }
}

@media screen and (max-width: 800px) {
  .columns {
    flex-direction: column;
  }

  .screenshot {
    width: 80%;
  }
}

.app-store {
  display: block;
  height: 80px;
  margin-bottom: 48px;
}

.app-store img {
  height: 100%;
  cursor: pointer;
  user-select: none;
}
